<div class="pull-left"><h3 class="text-danger" style="margin-bottom: 0;">Generated Operation Bulletin</h3></div>
<div id="alert_messages"></div>
<%= react_component 'OBGenerate', { data: JSON.parse(@ob), sections: @sections , machines: @machines } %>