<div class="pull-left"><h3 class="text-danger" style="margin-bottom: 0;">Manage - Operation Bulletin</h3></div>
<div id="alert_messages"></div>
<%= react_component 'OBManagement', { data: JSON.parse(@ob), sections: JSON.parse(@sections), machines: @machines } %>