/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "rangeslider.js/dist/rangeslider.css";

.row {
	margin: 10px 0;
}

.rm10 {
	margin-right: 10px;
}

.bm10 {
  margin-bottom: 10px;
}

.clear {
	clear: both;
}

.alert-dismissable, .alert-dismissible {
    padding: 10px !important; 
    padding-right: 35px !important;
}

#operations li {
	float: right;
}

#ob-ws li {
  float: right;
}

#operations-header {
	float: left;
}

td, th {
    vertical-align: middle !important;
}

#alert_messages {
	position: fixed;
	top: -2px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width: 35%;
}

.navbar-right {
    float: right !important;
    margin-right: 15px;
}

.navbar-brand {
    font-size: 23px;
}

.navbar {
    border-radius: 0;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    border-bottom: 1px solid;
    border-color: #bbb !important;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
	margin-bottom: 15px;
}

.borderless tbody tr td, .borderless thead tr th {
    border-top: none !important;
    border-bottom: none !important;
}

tr.borderless, td.borderless {
  border: none !important;
}

.right-border {
  border-right: 1px solid;
}

.well {
  padding: 5px 10px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 6px 0;
  margin-top: 50px;
}

$bgDefault      : #ffffff;
$bgHighlight    : #efefef;
$colDefault     : #707070;
$colHighlight   : #31708f;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}